<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <img width="300" alt="Angular Logo" src="https://scontent-dub4-1.xx.fbcdn.net/v/t1.15752-9/53268237_341319339830309_4880793022628888576_n.png?_nc_cat=100&_nc_ht=scontent-dub4-1.xx&oh=79393421b7af942d8be219db7dc079c1&oe=5D27C175">
</div>
<div class="container">
  <ul class="nav nav-pills">
    <li><a routerLinkActive="active" routerLink="/register">Register</a></li>
    <li><a routerLinkActive="active" routerLink="/login">Login</a></li>
    <li><a (click)="logout()">Logout</a></li>
  </ul>
</div>
<router-outlet></router-outlet>
