<div>
  <div>
    <mat-card class="example-card">
      <mat-card-header >
        <mat-card-title><h2>{{pdf.name}}</h2></mat-card-title>
        <mat-card-subtitle>{{pdf.url}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
      <table border="1">
        <tr>
          <th>attributes names:</th>
          <th>attributes contents:</th>
        </tr>
        <tr *ngFor="let attribute of pdf.attributes">
          <td>{{attribute.name}}</td>
          <td>{{attribute.content}}</td>
        </tr>
        </table>
      </mat-card-content>
      <mat-card-actions>
        <a mat-flat-button color="primary" [routerLink]="['/edit',pdf.name]"><mat-icon>edit</mat-icon></a>
        <a mat-flat-button color="warn" [routerLink]="['/delete',pdf.url]"><mat-icon>delete</mat-icon></a>
        <a mat-flat-button color="primary" [routerLink]="['/download',pdf.name]"><mat-icon>download</mat-icon></a>
        <a mat-flat-button color="primary" [routerLink]="['/view-download',pdf.name]"><mat-icon>view file</mat-icon></a>
        <a mat-flat-button color="primary" [routerLink]="['/userdetails']"><mat-icon>back</mat-icon></a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
